/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.toggle-labels {
  margin-bottom: 24px;
  .components-toggle-control {
    margin-bottom: 12px;
  }
  label {
    font-size: 10.5px;
  }
}